astropy==7.0.0
cmasher==1.9.2
fastgif==2.1
imageio==2.34.1
matplotlib==3.8.4
numpy==2.2.3
opencv_python==4.11.0.86
opencv_python_headless==4.9.0.80
pandas==2.2.3
PyQt6==6.8.1
PyQt6_sip==13.6.0
PySide6
pytest==8.3.4
python_dateutil==2.9.0.post0
regex==2024.5.15
scipy==1.15.2
spiceypy==6.0.0
tqdm==4.66.2
